<h1>Block Reservations For  <%= @reservationSystem.name %> </h1>

Select the period of time your system is not available for reservations. <br/>

<div class = "cssform">
<%= form_for :systemReservation, @systemReservation, :url => {:action => "create"} do |f| %>
  <%= render 'shared/error_messages',:object => f.object %>
   <div class="field">
    <%= f.label :recurring, "Type of Reservations" %><br />
    <%= f.select :recurring, RECURRING,{}, {:onchange => "toggleDiv(this.value);"} %>
  </div>
  <div class = "field" id ="dateSelect">
  <%= date_select 'StartDate', 'Date', :order => [:day, :month, :year] %> <br/>   
  </div>
  <div class = "field" id = "weekSelect" style = "display:none">
  <%= select_tag "Day Of Week", options_for_select([["Sunday",0],["Monday",1],["Tuesday",2],["Wednesday",3], ["Thursday",4],["Friday",5],["Saturday",6]]) %> 
  </div>
   <div class="field">
    <%= f.label :startDate  %> <br />
    <%= time_select 'StartDate', 'Time', :default => {:hour => 0, :minute => 0} %>
  </div>
   <div class="field">
    <%= f.label :endDate  %><br />
    <%= time_select 'EndDate', 'Time', :default => {:hour => 23, :minute => 59} %>
  </div>
  <div class="field">
    <%= f.label :description %> <br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.submit "Submit" %>
  </div>
</div>
<% end %>
