<h1>Edit <%= @reservationSystem.name%> Details</h1>

<div class="cssform"
<%= form_for  @reservationSystem, :url => {:action => "update"} do |f| %>
  <%= render 'shared/error_messages',:object => f.object %>
  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category, "Reservation Category" %><br />
    <%= f.select :category, CATEGORY %>
  </div>
   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description  %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</div>
<br/>

<div id = "buttonwrapper">
  <%= link_to (content_tag(:span,"Edit Location On Map")), set_location_user_reservationSystem_path, :class => "boldbuttons" %>
</div><br/><br/><br/>
<div id="buttonwrapper">
  <%= link_to (content_tag(:span,"Add Block Reservations Dates")), new_user_reservationSystem_systemReservation_path(@user, @reservationSystem), :class=>"boldbuttons"%></div><br/><br/><br/>

<div id="buttonwrapper">
<%= link_to (content_tag(:span,"Delete This Reservation System")), user_reservationSystem_path, html_options = {:method => :delete, :confirm => "Are you sure you want to remove this system? You will permanently lose all information including the resources of the sytem!",:title => "Delete #{@reservationSystem.name}", :class=>"redbuttons"} %>
</div><br/><br/>
